@model DailyDiary.Models.Diary

@{
    ViewData["Title"] = "Edit";
}

<h1>View</h1>

<h4>Diary</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SrNo" />
            <div class="form-group">
                <label asp-for="Diary_Content" class="control-label"></label>
                <input asp-for="Diary_Content" class="form-control" />
                <span asp-validation-for="Diary_Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diary_Entry_Date" class="control-label"></label>
                <input asp-for="Diary_Entry_Date" class="form-control" />
                <span asp-validation-for="Diary_Entry_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

